<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>ToDo App</h1>
        <ul id="login"><li><a href="/login">ログイン</a></li></ul>
    </header>

    <div class="create">
        <form action="/add" method="POST">
            <input type="text" name="todo" required>
            <button type="submit">作成</button>
        </form>
    </div>

    <div class="group not-started">
        <h2>未着手</h2>
        <ul>
            <% todos.forEach((todo) => { %>
                <% if (todo.status === 0) { %>
                    <div class="task">
                        <div class="task-content">
                            <li><%= todo.task %>  <small>- <%= todo.created_at %></small></li>
                        </div>
                        <div class="task-buttons">
                            <form action="/status_update" method="POST">
                                <input type="hidden" name="id" value="<%= todo.id %>">
                                <select name="status">
                                    <option value="0" <%= todo.status === 0 ? 'selected' : '' %>>未着手</option>
                                    <option value="1" <%= todo.status === 1 ? 'selected' : '' %>>進行中</option>
                                    <option value="2" <%= todo.status === 2 ? 'selected' : '' %>>完了</option>
                                </select>
                                <button type="submit">更新</button>
                            </form>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="id" value="<%= todo.id %>">
                                <button type="submit">削除</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </ul>
    </div>

    <div class="group in-progress">
        <h2>進行中</h2>
        <ul>
            <% todos.forEach((todo) => { %>
                <% if (todo.status === 1) { %>
                    <div class="task">
                        <div class="task-content">
                            <li><%= todo.task %>  <small>- <%= todo.created_at %></small></li>
                        </div>
                        <div class="task-buttons">
                            <form action="/update" method="POST">
                                <input type="hidden" name="id" value="<%= todo.id %>">
                                <select name="status">
                                    <option value="0" <%= todo.status === 0 ? 'selected' : '' %>>未着手</option>
                                    <option value="1" <%= todo.status === 1 ? 'selected' : '' %>>進行中</option>
                                    <option value="2" <%= todo.status === 2 ? 'selected' : '' %>>完了</option>
                                </select>
                                <button type="submit">更新</button>
                            </form>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="id" value="<%= todo.id %>">
                                <button type="submit">削除</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </ul>
    </div>

    <div class="group completed">
        <h2>完了</h2>
        <ul>
            <% todos.forEach((todo) => { %>
                <% if (todo.status === 2) { %>
                    <div class="task">
                        <div class="task-content">
                            <li><%= todo.task %>  <small>- <%= todo.created_at %></small></li>
                        </div>
                        <div class="task-buttons">
                            <form action="/update" method="POST">
                                <input type="hidden" name="id" value="<%= todo.id %>">
                                <select name="status">
                                    <option value="0" <%= todo.status === 0 ? 'selected' : '' %>>未着手</option>
                                    <option value="1" <%= todo.status === 1 ? 'selected' : '' %>>進行中</option>
                                    <option value="2" <%= todo.status === 2 ? 'selected' : '' %>>完了</option>
                                </select>
                                <button type="submit">更新</button>
                            </form>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="id" value="<%= todo.id %>">
                                <button type="submit">削除</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </ul>
    </div>

</body>
</html>
